@model HomeIndexVM

@{
    ViewBag.Title = "Restaurant ++";
}

<h1>All restaurants</h1>
<div>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
        <tr>
            <td>Id: @restaurant.Id</td>
            <td>Name: @restaurant.Name</td>
            @*<td><a href="/home/Details/@restaurant.Id">Details</a></td>*@
            @*<td>@Html.ActionLink("Go", "Details", "Home", new { id = @restaurant.Id })</td>*@
            <td><a asp-action="Details" asp-route-id="@restaurant.Id">Details</a></td>
            <td><a asp-page="/Restaurants/Edit" asp-route-id="@restaurant.Id">Edit</a></td>
        </tr>
        }
    </table>
    <a asp-action="Create" asp-controller="Home">Create</a>
</div>

@section footer {
    <h1>@Model.MessageOfTheDay</h1>
}